extends layout
block extraHeaders
	//- script(id="shader-fs", type="x-shader/x-fragment", src='/shaders/fragment_1.sl')
	//- script(id="shader-vs", type="x-shader/x-vertex", src='/shaders/vertex_1.sl')
	//- script(type='text/javascript', src='/javascripts/simpleshapes.js')
	//- script(type='text/javascript', src='/javascripts/pointlight.js')
	script(type='text/javascript', src='/javascripts/fromfile.js')

block content
	h1= title
	//- canvas(id="mCanvas", style="border: none;", width="500", height="500")