doctype 5
html
	head
		title= title		
		meta(name="viewport", content="width=device-width, initial-scale=1")
		link(rel='stylesheet', href='/stylesheets/style.css')
		script(src="/javascripts/jquery.min.js")
		script(src="/javascripts/glMatrix.min.js")
		//- script(src='/socket.io/socket.io.js')
		//- script(src='/javascripts/main.js')
		script(src='/javascripts/glengine.js')
		block extraHeaders

	body(data-cache='never')
		block content