doctype 5
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(rel='stylesheet', href='/javascripts/jquery-ui/css/dark-hive/jquery-ui.min.css')
		script(src='/javascripts/jquery.min.js')
		script(src='/javascripts/jquery-ui/js/jquery-ui.min.js')
		script(src='/socket.io/socket.io.js')
		script(src='/javascripts/main.js')
		script(type='text/javascript')
			$(document).ready(function(){
				if("#{username}" == "undefined"){
					setupLoginPage();
				}else{
					username = ("#{username}");
					setupGamePage();
				}
			});
	body
		block content